.mealRow {
  border-radius: 6px;
  box-shadow: 0px 0px 20px 0px #d0d0d0;
  border: 1px solid transparent;
  transition: box-shadow 300ms;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  text-align: center;
  letter-spacing: 0.04em;
  min-height: 50px;
}

.mealRow > .col {
  align-self: center;
}

.mealRow:hover {
  border-radius: 6px;
  transition: box-shadow 300ms;
  box-shadow: 0px 0px 30px 0px #8d99ae;
}

#menuAddButton {
  transition: box-shadow 300ms;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;

  text-align: center;
  letter-spacing: 0.04em;
}

#menuAddButton:hover {

  transition: box-shadow 300ms;
  box-shadow: 0px 0px 16px 0px #8d99ae;
}