.no-meals {
  text-align: center;
  font-weight: bold;
  height: 100%;
  padding: 50px;
}

.detail-card {
  width: 50vw;
  border-radius: 6px;
  background: white;
  height: fit-content;
  padding: 1% 3%;

  @media screen and (max-width: 800px) {
    width: 95vw;
  }

  &__close-icon {
    width: 100%;
    .MuiButtonBase-root {
      background: none;
      border: none;
      display: block;
      position: relative;
      width: fit-content;
      height: fit-content;
      float: right;
    }
  }

  &__form {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: fit-content;

    .col-9 {
      max-width: 100%;
      flex: 0 0 100%;
    }
    .MuiTextField-root {
      display: flex;
      width: 100%;
      max-width: 100% !important;
      border-bottom: 1px solid #555555;
      margin: 7px 5px 7px 5px;
    }
    .MuiTextField-root:hover {
      border-bottom: 2px solid #219ebc;
    }
    .MuiInput-underline:before {
      display: none !important;
    }
    .MuiInput-underline:after {
      display: none !important;
    }
    .MuiSelect-root {
      width: 100%;
    }
    .MuiSelect-icon {
      color: #219ebc;
    }
  }

  #potvrdi-container{
    display: flex;
    width: 100%;
    max-width: 100% !important;
    flex: 0 0 100% !important;
    justify-content: center;
  }
  #potvrdi {
    background: none;
    border-radius: 5px;
    border: 1px solid #219ebc;
    color: #219ebc;

  }
  #potvrdi:hover {
    background: #219ebc;
    color: white;
  }
}

.menu {
  padding: 1%;
  width: 100%;

  &__add {
    transition-duration: 0.4s;
    border-radius: 3px;
    background-color: white;
    color: #555555;
    border: 1px solid #555555;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.04em;
    width: fit-content;
    height: 35px;
    margin-top: 2%;

    &:hover {
      background-color: #555555;
      color: white;
    }
  }

  &__search {
    width: 50%;
  }
}

.mealRow {
  border-radius: 6px;
  box-shadow: 0px 0px 20px 0px #d0d0d0;
  border: 1px solid transparent;
  transition: box-shadow 300ms;
  min-height: 150px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  flex-wrap: wrap;
}

#mealRow-picker {
  margin-right: 1%;
  display: inline-flex;
}

.button-container {
  display: inline-flex;
  flex-wrap: wrap;
}

.mealRow > .col {
  min-width: 75px;
}

.mealRow:hover {
  border-radius: 6px;
  transition: box-shadow 300ms;
  box-shadow: 0px 0px 30px 0px #8d99ae;
}
