@import "../../colors.scss";

.orders {
  display: flex;
  position: fixed;
  flex-direction: column;
  margin-left: 14rem;
  width: 90vw;
  height: 100vh;
  overflow-y: auto;
  background-color: $cream;
  padding-top: 1%;
  padding-bottom: 1%;

  &__export-all-button {
    width: fit-content;
    border: 2px solid $dark-blue;
    border-radius: 0.25rem;
    background: $dark-blue;
    color: $cream;
    font-size: 20px;
    font-weight: bold;
    margin: 0 5% 1% 3%;
    padding: 10px;
    box-shadow: 0 0.15rem 0.75rem 0 $dark-gray !important;
    transition: box-shadow 0.5s;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif !important;
  }

  &__export-all-button:hover {
    box-shadow: 0 0.15rem 1.75rem 0 $light-gray !important;
    transition: box-shadow 0.5s;
    color: white;
  }

  &__export-all-button:active {
    color: $light-gray;
  }

  &__export-modal {
    width: 40%;
    border-radius: 6px;
    background: $dark-blue;
    height: fit-content;
    padding: 40px;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 0 0.15rem 1.75rem 0 $dark-gray !important;
    transition: box-shadow 0.5s;
    border-radius: 10px;

    &__button-container {
      display: flex;
      width: 60%;
      margin: auto;
      justify-content: space-evenly;

      &__confirm-button {
        margin-top: 10px;
        background: $green;
        color: $cream;
        border: 1px solid $green;
        border-radius: 4px;
        padding: 1% 3%;
        box-shadow: 0 0.15rem 1.75rem 0 $dark-gray !important;
        transition: box-shadow 0.5s;
        font-weight: bold;

        &:hover {
          color: white;
        }

        &:active {
          color: $gray;
        }
      }

      &__decline-button {
        margin-top: 10px;
        background: $red;
        color: $cream;
        border: 1px solid $red;
        border-radius: 4px;
        padding: 1% 3%;
        box-shadow: 0 0.15rem 1.75rem 0 $dark-gray !important;
        transition: box-shadow 0.5s;
        font-weight: bold;

        &:hover {
          color: white;
        }

        &:active {
          color: $gray;
        }
      }
    }
  }

  &__card {
    display: inline-flex;
    flex-direction: row;
    padding: 1.5%;
    margin: 1% 5% 1% 3%;
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0 0.15rem 1.75rem 0 $light-gray !important;
      transition: box-shadow 0.5s;
    }

    &.ordered {
      border-left: 10px solid $red;
      background: $red-opacity20;
    }
    &.started {
      border-left: 10px solid $yellow;
      background: $yellow-opacity20;
    }
    &.done {
      border-left: 10px solid $green;
      background: $green-opacity20;
    }

    &__table {
      display: flex;
      width: 5%;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-weight: bold;
      &.ordered {
        color: $red;
      }
      &.started {
        color: $yellow;
      }
      &.done {
        color: $green;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      width: 90%;
      font-size: 20px;
      margin-right: 2%;

      &__meal {
        display: inline-flex;
        padding: 10px 0;
        width: 100%;
        &__name {
          font-weight: bold;
          width: calc(100% / 4);
        }
        &__quantity {
          width: calc(100% / 4);
          text-align: center;
        }
        &__price {
          width: calc(100% / 4);
          text-align: center;
        }
        &__status {
          font-weight: bold;
          width: calc(100% / 4);
          text-align: center;
          &.ordered {
            color: $red;
          }
          &.started {
            color: $yellow;
          }
          &.done {
            color: $green;
          }
        }
      }

      &__receipt {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
        color: $light-gray;
        opacity: 70%;

        :hover {
          opacity: 90%;
        }
      }
    }
  }
}

.receipt {
  width: 500px;
  border-radius: 20px;
  background: $dark-blue;
  height: fit-content;
  padding: 40px;
  box-shadow: 0 0.15rem 1.75rem 0 $dark-gray !important;
  transition: box-shadow 0.5s;

  &__icons {
    padding: 0 20px 15px 20px;
    position: relative;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    &__close-icon {
      background-color: $dark-blue;
      border-radius: 50%;
      :hover {
        opacity: 90%;
      }
    }
    &__print-icon {
      background-color: $dark-blue;
      border-radius: 50%;
      :hover {
        opacity: 90%;
      }
    }
    &__traffic {
      background-color: $dark-blue;
      border-radius: 50%;
      :hover {
        opacity: 90%;
      }
    }
  }

  &__container {
    background: white;
    height: fit-content;
    width: 90%;
    padding: 2% 20px;
    border-radius: 10px;
    margin: auto;
    &__info {
      &__date {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
      }

      &__waiter {
        padding-top: 10px;
        font-size: 14px;
      }

      &__table {
        padding-top: 5px;
        font-size: 14px;
      }
    }
    &__meal-row {
      .row:not(:first-child) {
        margin-top: 15px;
      }
    }

    .mt-2 {
      align-items: center;
    }
    &__table-header,
    &__meal {
      max-width: none;
      text-align: center;
      padding: 0;
    }

    &__table-header {
      font-weight: bold;
    }

    &__total-price {

      background: white;
      display: flex;
      float: right ;
      justify-content: space-between;
      width: 60%;
      font-weight: bold;
      flex-wrap: nowrap;
      &__label {
        font-size: 20px;
        font-weight: bold;
      }
      &__value {
        font-size: 20px;
        white-space: nowrap;
        font-weight: bold;
      }
    }
  }
}

.no-orders {
  text-align: center;
  font-weight: bold;
  height: 100%;
  padding: 50px;
}

