@import "../../colors.scss";

.orders {
  display: flex;
  position: fixed;
  flex-direction: column;
  margin-left: 14rem;
  width: 90vw;
  height: 100vh;
  overflow-y: auto;
  background-color: $cream;
  padding-bottom: 1%;

  &__export-all-button {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    border: 1px solid $dark-blue;
    border-radius: 1px;
    background: $dark-blue;
    color: white;
    font-size: 15px;
    margin: 0 5% 1% 3%;
    padding: 0.6em 1.2em;
    transition: all 0.5s;
    letter-spacing: 0.05em;
    opacity: 0.8;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif !important;
  }

  &__export-all-button:hover {
    opacity: 1;
    transition: all 0.5s;
  }

  &__export-all-button:active {
    color: $light-gray;
  }

  &__card {
    display: inline-flex;
    flex-direction: row;
    padding: 1.5%;
    margin: 0.5% 5% 0.25% 3%;
    transition: all 0.5s;
    box-shadow: 0 1px 4px 0 $gray !important;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2) !important;
    opacity: 0.8 !important;

    &:hover {
      opacity: 1 !important;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4) !important;
      transition: all 0.5s ease-in !important;
    }

    &.ordered {
      border-left: 10px solid $red;
      background: $red-opacity20;
    }
    &.started {
      border-left: 10px solid $yellow;
      background: $yellow-opacity20;
    }
    &.done {
      border-left: 10px solid $green;
      background: $green-opacity20;
    }

    &__table {
      display: flex;
      width: 5%;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-weight: bold;
      &.ordered {
        color: $red;
      }
      &.started {
        color: $yellow;
      }
      &.done {
        color: $green;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      width: 90%;
      font-size: 17px;
      margin-right: 2%;

      &__meal {
        display: inline-flex;
        padding: 10px 0;
        width: 100%;
        &__name {
          font-weight: bold;
          width: calc(100% / 4);
        }
        &__quantity {
          width: calc(100% / 4);
          text-align: center;
        }
        &__price {
          width: calc(100% / 4);
          text-align: center;
        }
        &__status {
          font-weight: bold;
          width: calc(100% / 4);
          text-align: center;
          &.ordered {
            color: $red;
          }
          &.started {
            color: $yellow;
          }
          &.done {
            color: $green;
          }
        }
      }

      &__receipt {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
        color: $light-gray;
        opacity: 70%;

        :hover {
          opacity: 90%;
        }
      }
    }
  }
}

.export-modal {
  z-index: 1000;
  width: 40%;
  border-radius: 2px;
  background: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 40px;
  font-size: 25px;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.3) !important;
  transition: box-shadow 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0.05em;

  &__button-container {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;

    &__confirm-button {
      margin-top: 20px;
      background: $green;
      color: white;
      margin-right: 1em;
      border: 1px solid $green;
      padding: 1% 3%;
      opacity: 0.6;
      letter-spacing: 0.05em;
      transition: all 0.5s;

      &:hover {
        opacity: 1;
      }

      &:active {
        color: $gray;
      }
    }

    &__decline-button {
      margin-top: 20px;
      background: $red;
      color: white;
      margin-left: 1em;
      border: 1px solid $red;
      padding: 1% 3%;
      transition: all 0.5s;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }

      &:active {
        color: $gray;
      }
    }
  }
}

.receipt {
  z-index: 1000;
  width: 600px;
  border-radius: 2px;
  background: white;
  height: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  padding: 40px;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.3) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__icons {
    padding: 0 20px 15px 20px;
    position: relative;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  &__container {
    background: white;
    height: fit-content;
    width: 90%;
    padding: 2% 20px;
    border-radius: 10px;
    margin: auto;
    letter-spacing: 0.05em;
    &__info {
      &__date {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
      }

      &__waiter {
        padding-top: 10px;
        font-size: 14px;
      }

      &__table {
        padding-top: 5px;
        font-size: 14px;
      }
    }
    &__meal-row {
      .row:not(:first-child) {
        margin-top: 15px;
      }
    }

    .mt-2 {
      align-items: center;
    }
    &__table-header,
    &__meal {
      max-width: none;
      text-align: center;
      padding: 0;
    }

    &__table-header {
      font-weight: bold;
    }

    &__total-price {
      background: white;
      display: flex;
      float: right;
      justify-content: space-between;
      width: 60%;
      font-weight: bold;
      flex-wrap: nowrap;
      &__label {
        font-size: 20px;
        font-weight: bold;
      }
      &__value {
        font-size: 20px;
        white-space: nowrap;
        font-weight: bold;
      }
    }
  }
}

.no-orders {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.07em;
}
