.orders-list {
  padding: 1%;
  .mealRow {
    .orders-meal-row {
      padding: 16px 0;
      .ordered {
        color: #cc2300;
      }
      .started {
        color: #ffbf66;
      }
      .done {
        color: #07922a;
      }
    }
  }
}

.receipt {
  width: 40%;
  border-radius: 6px;
  background: white;
  height: fit-content;
  padding: 2%;
  &__icons {
    position: absolute;
    top: 35%;
    margin-left: 41%;
    &__close-icon {
      background-color: white;
      border-radius: 50%;
    }
    &__print-icon {
      margin-top: 10px;
      background-color: white;
      border-radius: 50%;
    }
    &__traffic {
      margin-top: 10px;
      background-color: white;
      border-radius: 50%;
    }
  }

  .info {
    &__date {
      text-align: center;
      font-weight: bold;
      font-size: 18px;
    }

    &__waiter {
      padding-top: 10px;
      font-size: 14px;
    }

    &__table {
      padding-top: 5px;
      font-size: 14px;
    }
  }
  .receipt-meal-row {
    .row:not(:first-child) {
      margin-top: 15px;
    }
  }

  .receipt-table-header,
  .receipt-meal {
    max-width: none;
    text-align: center;
    padding: 0;
  }

  .receipt-table-header {
    font-weight: bold;
  }

  .total-price {
    display: flex;
    float: right;
    justify-content: space-between;
    width: 45%;
    margin-right: 2%;
    font-weight: bold;
    flex-wrap: wrap;
    &__label {
      font-size: 20px;
    }
    &__value {
      font-size: 20px;
      white-space: nowrap;
    }
  }
}

.no-orders {
  text-align: center;
  font-weight: bold;
  height: 100%;
  padding: 50px;
}
