.no-users {
  text-align: center;
  font-weight: bold;
  height: 100%;
  padding: 50px;
}

.detail-card {
  width: 30vw;
  padding: 3%;
  left: 30%;
  margin-bottom: 3%;
  border-radius: 6px;
  position: absolute;
  background: white;
  height: fit-content;
  display: flex;
  justify-self: center;
  flex-direction: column;
  // top: 50%;
  @media screen and (max-width: 800px) {
    left: 2.5%;
    // top: 50%;
    width: 95%;
  }

  &__close-icon{
    background: none;
    border: none !important;
    display: flex;
    justify-content: flex-end;
    height: fit-content;
  }

  &__form {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    width: 100%;

    .MuiInputBase-input {
      width: 20vw;

      @media screen and (max-width: 800px) {
        left: 2.5%;
        top: 50%;
        width: 70vw;
      }
    }
    button{
      background: none;
      border-radius: 5px;
      border: 1px solid #219ebc;
      color: #219ebc;
    }
  }
}


.zaposlenici {
  margin: 1%;

  &__add {
    transition-duration: 0.4s;
    border-radius: 3px;
    background-color: white;
    color: #555555;
    border: 1px solid #555555;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.04em;
    width: fit-content;
    height: 35px;

    &:hover {
      background-color: #555555;
      color: white;
    }
  }
}

.userRow {
  border-radius: 6px;
  box-shadow: 0px 0px 20px 0px #d0d0d0;
  border: 1px solid transparent;
  transition: box-shadow 300ms;

  height: 80px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;

  text-align: center;
  letter-spacing: 0.04em;
}

.userRow > .col {
  align-self: center;
}

.userRow:hover {
  border-radius: 6px;
  transition: box-shadow 300ms;
  box-shadow: 0px 0px 30px 0px #8d99ae;
}

