.detail-card {
  width: 95vw;
  left: 2.5%;
  padding: 3%;
  margin-bottom: 3%;
  border-radius: 6px;
  position: absolute;
  background: white;
  height: fit-content;
}

#user-details-close-icon {
  width: 40px;
  height: 35px;
  position: absolute;
  top: -60px;
  right: 30px;
  background: white;
  display: flex;
  border: medium solid;
  border-radius: 4px;
}

.userRow {
  border-radius: 6px;
  box-shadow: 0px 0px 20px 0px #d0d0d0;
  border: 1px solid transparent;
  transition: box-shadow 300ms;

  min-height: 66px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  text-align: center;
  letter-spacing: 0.04em;
}

.userRow > .col {
  align-self: center;
}

.userRow:hover {
  border-radius: 6px;
  transition: box-shadow 300ms;
  box-shadow: 0px 0px 30px 0px #8d99ae;
}