@import "../../colors.scss";

.zaposlenici {
  display: flex;
  position: fixed;
  flex-direction: column;
  margin-left: 14rem;
  width: 90vw;
  height: 100vh;
  overflow-y: auto;
  background-color: $cream;
  padding-top: 1%;
  padding-bottom: 1%;

  &__add {
    margin: 1% 5% 2% 3%;
    width: -webkit-fit-content!important;
    width: -moz-fit-content!important;
    width: fit-content!important;
    background: #3d405b;
    border: 1px solid #3d405b;
    border-radius: 1px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 0.6em 1.2em;
    transition: all .5s;
    letter-spacing: .05em;
    opacity: 0.8;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif!important;

    &:hover {
      opacity: 1;
      // box-shadow: 0 0.15rem 1.75rem 0 $light-gray !important;
      transition: all 0.5s;
      // color: white;
    }

    &:active {
      color: $light-gray;
    }
  }

  &__card {
    display: inline-flex;
    flex-direction: row;
    padding: 1.5%;
    margin: 0.25% 5% 0.25% 3%;
    background: rgba(221, 190, 169, 0.15);
    font-size: 17px;
    align-items: center;
    border-left: 10px solid #ddbea9;
    cursor: default;
    transition: box-shadow 0.5s;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2) !important;

    &:hover {
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4) !important;
      transition: all 0.5s;
    }

    &__fname,
    &__lname,
    &__role {
      font-weight: 500;
      letter-spacing: 0.1em;
    }

    &__role {
      font-weight: 500;
      letter-spacing: 0.1em;
      text-align: center;
    }

    &__button-container {
      text-align: right;
    }
  }

  &__edit-modal {
    background: #ffffff;
    width: 40%;
    border-radius: 2px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 40px;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.3) !important;


    &__form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif !important;


      &__fname,
      &__lname,
      &__password,
      &__email,
      &__role {
        color: rgba(244, 243, 239, 0.7) !important;
        margin-bottom: 1%;
        width: 100%;
        padding: 2%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;

        &__label {
          padding-left: 10px;
          font-size: 18px;
          letter-spacing: 0.05em;
          font-weight: 700;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif !important;
          color: #858796;
          margin-bottom: 0px;
        }

        &__input {
          display: flex;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif !important;
          font-size: 17px;
          line-height: 17px;
          color: #3d405b;
          padding-left: 10px;
          background: none;
          width: 100%;
          border: none;
          border-bottom: 1px solid #3d405b;

          &:focus {
            outline: none !important;
            border-bottom: 3px solid $dark-blue !important;
          }
        }
      }
    }

    &__button-container {
      display: flex;
      width: 100%;
      margin: auto;
      justify-content: space-evenly;

      &__confirm-button {
        margin-top: 20px;
        background: $green;
        color: $cream;
        border: 1px solid $green;
        border-radius: 4px;
        padding: 1% 3%;
        box-shadow: 0 0.15rem 1.75rem 0 $dark-gray !important;
        transition: box-shadow 0.5s;
        font-weight: bold;

        &:hover {
          color: white;
        }

        &:active {
          color: $gray;
        }
      }

      &__decline-button {
        margin-top: 20px;
        background: $red;
        color: $cream;
        border: 1px solid $red;
        border-radius: 4px;
        padding: 1% 3%;
        box-shadow: 0 0.15rem 1.75rem 0 $dark-gray !important;
        transition: box-shadow 0.5s;
        font-weight: bold;

        &:hover {
          color: white;
        }

        &:active {
          color: $gray;
        }
      }
    }
  }
}

.no-users {
  text-align: center;
  font-weight: bold;
  height: 100%;
  padding: 50px;
}
