.all-tables {
  width: 95vw;
  padding: 0 30px;
  margin: 30px 0;
  display: flex;
  flex-flow: wrap;
  &__order-table {
    width: 340px;
    height: 272px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: none;
    margin-right: 40px;
    margin-top: 40px;
    &.black {
      background-image: url(../../assets/images/Black-outline-table.svg);
    }
    &.green {
      background-image: url(../../assets/images/Green-outline-table.svg);
    }
    &.red {
      background-image: url(../../assets/images/Red-outline-table.svg);
    }
    &.yellow {
      background-image: url(../../assets/images/Yellow-outline-table.svg);
    }
    .table-button {
      width: 100%;
      height: 100%;
      background: none;
      border: none;
      font-size: 32px;
      font-weight: bold;
    }
  }
}

.table-card {
  width: 75vw;
  border-radius: 6px;
  background: white;
  height: fit-content;
  padding: 1% 3%;
  position: absolute;
  justify-self: center;
  flex-direction: column;

  @media screen and (max-width: 800px) {
    width: 95vw;
  }

  &__close-icon {
    width: 100%;
    .MuiButtonBase-root {
      background: none;
      border: none;
      display: block;
      position: relative;
      width: fit-content;
      height: fit-content;
      float: right;
    }
  }

  &__form {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: fit-content;

    .col-9 {
      max-width: 100%;
      flex: 0 0 100%;
    }
    .MuiTextField-root {
      display: flex;
      width: 100%;
      max-width: 100% !important;
      border-bottom: 1px solid #555555;
      margin: 7px 5px 7px 5px;
    }
    .MuiTextField-root:hover {
      border-bottom: 2px solid #219ebc;
    }
    .MuiInput-underline:before {
      display: none !important;
    }
    .MuiInput-underline:after {
      display: none !important;
    }
    .MuiSelect-root {
      width: 100%;
    }
    .MuiSelect-icon {
      color: #219ebc;
    }
  }

  #potvrdi-container {
    display: flex;
    width: 100%;
    max-width: 100% !important;
    flex: 0 0 100% !important;
    justify-content: center;
  }
  #potvrdi {
    background: none;
    border-radius: 5px;
    border: 1px solid #219ebc;
    color: #219ebc;
  }
  #potvrdi:hover {
    background: #219ebc;
    color: white;
  }
}
