@import "../../colors.scss";

.tables {
  display: flex;
  position: fixed;
  flex-direction: column;
  margin-left: 14rem;
  width: 90vw;
  height: 100vh;
  overflow-y: auto;
  background-color: $cream;
  padding-bottom: 1%;

  @media screen and (max-width: 767px) {
    margin-left: 6rem;
  }

  @media screen and (max-width: 1560px) {
    width: 90% !important;
  }

  @media screen and (max-width: 1400px) {
    width: 85% !important;
  }

  @media screen and (max-width: 1100px) {
    width: 80% !important;
  }

  @media screen and (max-width: 920px) {
    width: 75% !important;
    font-size: 14px;
    margin-right: 20px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &__order-table {
      width: 270px;
      height: 260px;
      background-size: cover;
      background-image: none;
      margin: 2%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 50px;
      cursor: pointer;
      transition: all 0.5s;
      opacity: 0.5;

      @media screen and (max-width: 1300px) {
        width: 250px;
        height: 240px;
        flex-direction: column;
      }
      &:hover {
        opacity: 1;
        transition: all 0.5s;
      }

      &.black {
        background-image: url(../../assets/images/Black-outline-table.svg);
      }
      &.green {
        background-image: url(../../assets/images/Green-outline-table.svg);
        color: $green;
      }
      &.red {
        background-image: url(../../assets/images/Red-outline-table.svg);
        color: $red;
      }
      &.yellow {
        background-image: url(../../assets/images/Yellow-outline-table.svg);
        color: $yellow;
      }
    }
  }
}

.orders-modal {
  z-index: 1000;
  border-radius: 2px;
  background: white;
  width: 65%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.3) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__close-icon {
    text-align: end;
    padding: 1%;
  }
  &__card {
    display: inline-flex;
    flex-direction: row;
    padding: 2%;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;

    &.ordered {
      border-left: 15px solid $red;
      background: $red-opacity20;
    }
    &.started {
      border-left: 15px solid $yellow;
      background: $yellow-opacity20;
    }
    &.done {
      border-left: 15px solid $green;
      background: $green-opacity20;
    }

    &__table {
      display: flex;
      width: 5%;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-weight: bold;
      &.ordered {
        color: $red;
      }
      &.started {
        color: $yellow;
      }
      &.done {
        color: $green;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      width: 85%;
      font-size: 20px;
      align-items: center;

      &__meal {
        display: inline-flex;
        padding: 10px 0;
        width: 100%;
        height: 80px;
        align-items: center;
        &__name {
          font-weight: bold;
        }
        &__quantity {
          text-align: center;
        }
        &__price {
          font-weight: bold;
        }
        &__status {
          font-weight: bold;
          white-space: nowrap;
          &.ordered {
            color: $red;
          }
          &.started {
            color: $yellow;
          }
          &.done {
            color: $green;
          }
        }
      }
    }
  }

  &__menu {
    display: inline-flex;
    flex-direction: column;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;

    &__list {
      border-radius: 20px;

      &__topbar {
        display: inline-flex;
        width: 100%;
        height: fit-content;
        align-items: center;
        border-bottom: 1px solid $gray;
        margin: 0% 0% 2% 0%;
        box-shadow: 0 1px 4px 0 $gray;
        background: white;
        padding: 2%;

        &__search {
          width: 40% !important;
          background: rgba(244, 243, 239, 0.3);
          border: none;
          border-bottom: 2px solid #6e707e;
          border-radius: 0px;
          padding: 8px;
          height: 50px;
          transition: box-shadow 0.5s;
          font-size: 16px;
          letter-spacing: 0.05em;

          &:hover {
            border-bottom: 2px solid #3d405b;
            transition: box-shadow 0.5s;
          }

          &:focus {
            outline: none;
            border-bottom: 3px solid $dark-blue !important;
          }
        }
      }

      &__card {
        display: inline-flex;
        flex-direction: row;
        padding: 2% 0 2% 2%;
        margin: 0.5% 0 0.5% 0;
        background: $menu-background;
        color: $light-gray;
        font-size: 17px;
        align-items: center;
        border-left: 10px solid $menu-border;
        cursor: default;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2) !important;
        opacity: 0.8 !important;
        transition: all 0.5s ease-in !important;

        &:hover {
          opacity: 1 !important;
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4) !important;
          transition: all 0.5s ease-in !important;
        }

        &__picker {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          &__addToOrder {
            text-align: center;
          }
        }
      }
    }

    &__btn {
      width: fit-content;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      background: $green;
      color: white;
      border: 1px solid $green;
      padding: 1% 3%;
      transition: all 500ms;
      font-weight: bold;
      opacity: 0.6;

      &:hover {
        opacity: 1;
        transition: all 500ms;
      }

      &:active {
        color: $gray;
      }
    }
  }
}
