@import "../../colors.scss";

.sidebar{
  position: fixed;
  overflow: hidden;
  background: $dark-blue;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0 0.15rem 1.75rem 0 $dark-gray !important;
  z-index: 1;
  .navbar__header {
    margin-top: 10%;
    font-size: 28px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    font-style: italic;
    cursor: default;
  }
  .navbar__body {
    margin-top: 5%;
    height: 100vh;
  }
}
