@import "../../colors.scss";

.sign-in{
  height: 100vh !important;
  background: $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;

  &__form-container {
    display: flex;
    background: white;
    width: 50vw;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 0.15rem 0.75rem 0 $light-gray !important;

    &__label {
      width: 100%;
      text-align: center;
      font-size: 50px;
      padding: 2%;
      margin-bottom: 5%;
    }

    &__form {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      &__email,
      &__password {
        outline: none;
        margin-bottom: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 50px;
        border: 3px solid $dark-blue-opacity;
        border-radius: 20px;
        padding: 0 1%;
        box-shadow: 0 0.15rem 0.75rem 0 $gray !important;

        &:focus {
          border: 4px solid $dark-blue;
          transition: border 500ms;
          transition-timing-function: ease-in;
        }
      }

      &__btn {
        background: $dark-blue;
        border-radius: 20px;
        width: fit-content;
        color: $cream;
        font-size: 25px;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        padding: 1% 2%;
        border: none;

        &:hover {
          color: white;
        }
      }

      &__btn:active {
        background: $dark-blue-opacity;
      }
    }

    &__error {
      width: 100%;
      font-size: 20px;
      text-align: center;
      margin-bottom: 5%;
      color: $red;
    }
  }
}
