@import "../../colors.scss";

.sign-in {
  height: 100vh !important;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    position: relative;
    width: 470px;
    height: 355px;
    background: #fff;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.25);

    .logo-container {
      position: absolute;
      width: 185px;
      height: 185px;
      background: #fff;
      border-radius: 100%;
      top: -68px;
      box-shadow: 5px 0px 20px 1px rgba(0, 0, 0, 0.25);
      left: 50%;
      transform: translateX(-50%);
      z-index: 50000;

      .logo {
        text-align: center;
        width: 100%;
        margin-top: 20px;
        background-color: transparent;
        background-size: contain;
        background-position: 50%;
        transform: scale(1.1) translateY(15px);
      }
    }

    .lead {
      color: #003049;
      font-size: 20px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      text-align: center;
      font-style: oblique;
      margin-top: 10px;
    }

    .form-container {
      position: relative;
      height: 100%;
      padding-top: 110px;
      background: #fff;
      z-index: 10000;
      &__input {
        width: 85% !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        height: 50px;
        display: block;
        padding: 0 14px;
        border: none;
        border-bottom: 2px solid #33596d;
      }

      &__input:focus {
        background: white;
        outline: none;
        border-bottom: 3px solid #33596d;
      }

      &__btn {
        font-weight: 700;
        font-size: 0.9em;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-top: 8%;
        margin-left: 40%;
        padding: 0.6em 1.2em;
        background: #003049;
        border: 1px solid #003049;
        border-radius: 1px;
        color: white;
      }

      &__btn:hover {
        background: rgba($dark-blue, 0.8);
      }
    }
    .input-group {
      width: 90% !important;
      margin: auto;
    }

    .input-group-text {
      background: transparent;
      color: #f4f4f4;
      border: none;
    }

    .error {
      width: 100%;
      font-size: 20px;
      text-align: center;
      // margin-bottom: 5%;
      margin-top: 15%;
      color: rgba($red, 0.8);
    }
  }
}
