@import "../../colors.scss";

.header {
  position: relative;
  padding-bottom: 1%;
  margin-bottom: 2%;
  height: 60px;
  display: inline-flex;
  width: 100%;
  border-bottom: 1px solid #e3e6f0;
  box-shadow: 0px 6px 6px -6px $gray;

  &__left {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    width: 80%;
    align-items: center;
    display: flex;
    margin-left:3%;
    cursor: default;
  }

  &__right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    margin-right: 3%;
    &__user {
    font-size: 20px;
    cursor: default;
    }
    &__logout {
      display: flex;
      background: none;
      border: none;
      color: #858796;
      font-weight: bold;
      align-items: center;
      height: 100%;
      font-size: 20px;
    }
    &__logout:hover {
      opacity: 0.8;
    }

    &__logout:active {
      opacity: 0.5;
    }
  }
}
