@import "../../colors.scss";

.traffic {
  display: flex;
  position: fixed;
  flex-direction: column;
  margin-left: 14rem;
  width: 90vw;
  height: 100vh;
  overflow-y: auto;
  background-color: $cream;
  padding-top: 1%;
  padding-bottom: 1%;

  &__topbar {
    width: 92%;
    align-items: center;
    border-bottom: 1px solid $gray;
    margin: 1% 5% 2% 3%;
    padding-bottom: 2%;
    box-shadow: 0px 6px 6px -6px $gray;

    &__range {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      &__label {
        font-size: 20px;
        font-weight: bold;
        margin-right: 2%;
      }
      &__datepicker-container {
        display: inline-flex;
        justify-content: space-evenly;
      }
    }

    &__info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 2%;

      &__total {
        font-size: 22px;
        display: flex;
        flex-direction: row;
        width: 75%;
        align-items: center;
        &__label {
          margin-bottom: 0;
          margin-right: 2%;
        }
        &__value {
          margin-bottom: 0;
          font-weight: bold;
        }
      }

      &__button-container {
        display: flex;
        width: 25%;
        margin: auto;
        justify-content: space-evenly;

        &__export,
        &__print {
          height: 50px;
          width: 200px;
          background: $dark-blue;
          border: 1px solid $dark-blue;
          border-radius: 0.25rem;
          color: $cream;
          font-size: 18px;
          font-weight: bold;
          padding: 8px;
          box-shadow: 0 0.15rem 0.75rem 0 $dark-gray !important;
          transition: all 0.5s;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;

          &:hover {
            box-shadow: 0 0.15rem 1.75rem 0 $light-gray !important;
            transition: all 0.5s;
            color: white;
          }

          &:active {
            color: $light-gray;
          }
        }

        &__export__link {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;
          width: 200px;
          background: $dark-blue;
          border: 1px solid $dark-blue;
          border-radius: 0.25rem;
          color: $cream;
          font-size: 18px;
          font-weight: bold;
          padding: 8px;
          box-shadow: 0 0.15rem 0.75rem 0 $dark-gray !important;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
          transition: all 0.5s;

          &:hover {
            box-shadow: 0 0.15rem 1.75rem 0 $light-gray !important;
            transition: all 0.5s;
            color: white;
          }

          &:active {
            color: $light-gray;
          }
        }
      }
    }
  }

  &__card {
    display: inline-flex;
    flex-direction: row;
    padding: 1.5%;
    margin: 0.25% 5% 0.25% 3%;
    background: $menu-background;
    color: $light-gray;
    font-size: 20px;
    align-items: center;
    border-left: 10px solid $menu-border;
    cursor: default;
    align-items: center;
    transition: all 0.5s;

    &:hover {
      box-shadow: 0 0.15rem 1.75rem 0 $light-gray !important;
      transition: box-shadow 0.5s;
    }

    &__list {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      margin-right: 2%;
      align-items: center;

      &__meal {
        display: inline-flex;
        padding: 10px 0;
        width: 95%;

        &__name {
          font-weight: bold;
        }
        &__quantity {
          text-align: center;
        }
        &__price {
          text-align: center;
        }
        &__total {
          text-align: center;
        }
      }

      &__time {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1%;
      }

      &__price {
        font-weight: bold;
        font-size: 22px;
        white-space: nowrap;
      }
    }
  }
}

.print-modal {
  z-index: 1000;
  height: 99vh;
  width: 50vw;
  display: flex;
  &__close-icon{
    position: absolute;
    left: 77%;
    background-color: white;
    border-radius: 50%;
  }
}

.react-datepicker-wrapper {
  margin-right: 5px;
  box-shadow: 0px 0px 10px 0px $gray;
}

.react-datepicker {
  box-shadow: 0px 0px 20px 0px #d0d0d0;

  &__input-container {
    input {
      cursor: pointer;
      padding: 5px 15px;
      border: 3px solid $dark-blue;
      border-radius: 4px;
      font: inherit;
      font-weight: bold;
      text-align: center;
      width: 120px;
      background: $dark-blue;
      color: $cream;
      transition: all 0.5s;
    }

    input:hover {
      color: white;
      box-shadow: 0px 0px 10px 0px $dark-gray;
      transition: all 0.5s;
    }

    input:focus {
      color: white;
    }
  }
}

.react-datepicker__header {
  background-color: $dark-blue;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: #fff;
}

.react-datepicker__day {
  &--outside-month {
    color: #555555;
  }

  &--disabled {
    color: #ccc !important;
  }

  &--selected {
    background-color: #fff !important;
    color: black;
    border: 3px solid $dark-blue;
    border-radius: 6px;
  }

  &--today {
    font-weight: normal;
  }
}
