@import "../../colors.scss";

.kitchen {
  display: flex;
  position: fixed;
  flex-direction: column;
  margin-left: 14rem;
  width: 90vw;
  height: 100vh;
  overflow-y: auto;
  background-color: $cream;
  padding-top: 1%;
  padding-bottom: 1%;

  &__card {
    display: inline-flex;
    flex-direction: row;
    padding: 1.5%;
    margin: 1% 5% 1% 3%;
    transition: all 0.5s;

    &:hover {
      box-shadow: 0 0.15rem 1.75rem 0 $light-gray !important;
      transition: all 0.5s;
    }

    &.ordered {
      border-left: 10px solid $red;
      background: $red-opacity20;
    }
    &.started {
      border-left: 10px solid $yellow;
      background: $yellow-opacity20;
    }
    &.done {
      border-left: 10px solid $green;
      background: $green-opacity20;
    }

    &__table {
      display: flex;
      width: 5%;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-weight: bold;
      &.ordered {
        color: $red;
      }
      &.started {
        color: $yellow;
      }
      &.done {
        color: $green;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      width: 90%;
      font-size: 20px;
      margin-right: 2%;

      &__meal {
        display: inline-flex;
        padding: 10px 0;
        width: 100%;
        &__name {
          font-weight: bold;
          width: calc(100% / 4);
        }
        &__quantity {
          width: calc(100% / 4);
          text-align: center;
        }
        &__price {
          width: calc(100% / 4);
          text-align: center;
        }
        &__status {
          font-weight: bold;
          width: calc(100% / 4);
          text-align: center;
          &.ordered {
            color: $red;
          }
          &.started {
            color: $yellow;
          }
          &.done {
            color: $green;
          }
        }
      }

      &__button-container {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        &__change {
          outline: none;
          background: none;
          color: $dark-blue;
          border: 2px solid $dark-blue;
          border-radius: 10px;
          padding: 1% 5%;
          width: fit-content;
          font-size: 20px;
          font-weight: bold;
          box-shadow: 0 0.15rem 0.5rem 0 $dark-gray !important;
          transition: all 0.5s;

          &:hover {
            outline: none;
            background: $dark-blue;
            color: $cream;
            box-shadow: 0 0.15rem 1.75rem 0 $light-gray !important;
            transition: all 0.5s;
          }

          &:active {
            background: $dark-blue-opacity;
            border: 2px solid  $dark-blue-opacity;
            transition: none;
          }
        }
      }
    }
  }

  &__status-modal {
    width: 30%;
    border-radius: 6px;
    background: $dark-blue;
    height: fit-content;
    padding: 40px;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 0 0.15rem 1.75rem 0 $dark-gray !important;
    transition: all 0.5s;
    border-radius: 10px;
    text-align: center;

    &__button-container {
      display: flex;
      width: 60%;
      margin: auto;
      justify-content: space-evenly;

      &__confirm-button {
        margin-top: 20px;
        background: $green;
        color: $cream;
        border: 1px solid $green;
        border-radius: 4px;
        padding: 1% 3%;
        box-shadow: 0 0.15rem 1.75rem 0 $dark-gray !important;
        transition: all 0.5s;
        font-weight: bold;

        &:hover {
          color: white;
          transition: all 0.5s;
        }

        &:active {
          color: $gray;
        }
      }

      &__decline-button {
        margin-top: 20px;
        background: $red;
        color: $cream;
        border: 1px solid $red;
        border-radius: 4px;
        padding: 1% 3%;
        box-shadow: 0 0.15rem 1.75rem 0 $dark-gray !important;
        transition: all 0.5s;
        font-weight: bold;

        &:hover {
          color: white;
          transition: all 0.5s;
        }

        &:active {
          color: $gray;
        }
      }
    }
  }
}

.no-orders {
  text-align: center;
  font-weight: bold;
  height: 100%;
  padding: 50px;
}
