.listKitchenRow {
  
  text-align: center;
  letter-spacing: 0.04em;
  color: #8d99ae;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}
.kitchen {
  // padding:1%;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  padding: 2% 5%;
  margin-left: 13rem;
  width: 90vw;
  overflow-y: auto;
  .mealRow {
    .kitchen-meal-row {
      padding: 16px 0;
      .ordered {
        color: #cc2300;
      }
      .started {
        color: #ffbf66;
      }
      .done {
        color: #07922a;
      }
    }
  }
}

.button-container {
  &__change {
    background: none;
    border: 1px solid #219ebc;
    border-radius: 4px;
    padding: 2%;
  }
}
