$red: #d62828;
$red-opacity20: #d6282817;

$yellow: #fcbf49;
$yellow-opacity20: #e4c07818;

$green: #81b29a;
$green-opacity20: rgba(129, 178, 154, 0.1);

$dark-blue: #003049;
$dark-blue-opacity: #002f4970;
$cream: #f5f3f4;

$dark-gray: rgba(58,59,69,0.3);
$gray: rgba(58,59,69,0.15);
$light-gray: #858796;

$cream: #EEEEEE;
$cream-opacity: rgba(244, 243, 239, 0.5);

$menu-border: #fcbf49;
$menu-background: #e4c07818;

