$red: #e07a5f;
$red-opacity20: rgba(224, 122, 95, 0.1);

$yellow: #f2cc8f;
$yellow-opacity20: rgba(242, 204, 143, 0.1);

$green: #81b29a;
$green-opacity20: rgba(129, 178, 154, 0.1);

$dark-blue: #3d405b;
$dark-blue-opacity: rgba(61, 64, 91, 0.5);
$cream: #f5f3f4;

$dark-gray: rgba(58,59,69,0.3); 
$gray: rgba(58,59,69,0.15);
$light-gray: #858796;

$cream: rgba(244, 243, 239, 0.7);
$cream-opacity: rgba(244, 243, 239, 0.5);

$menu-border: #ddbea9;
$menu-background: rgba(221, 190, 169, 0.3);

