body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  letter-spacing: 0.04em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.listInfoRow {
  color: #8d99ae;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  text-align: center;
  letter-spacing: 0.04em;
}

#action-button-container {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 5px 0 10px 0;
}

#remove-action-button {
  transition-duration: 0.4s;
  border-radius: 3px;
  background-color: white;
  color: black;
  border: 2px solid #555555;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 15px;
  margin: 5px 5px 0 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  text-align: center;
  letter-spacing: 0.04em;
}

#update-action-button {
  transition-duration: 0.4s;
  border-radius: 3px;
  background-color: white;
  color: black;
  border: 2px solid #219ebc;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 15px;
  margin: 5px 5px 0 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  text-align: center;
  letter-spacing: 0.04em;
}

#update-action-button:hover {
  background-color: #219ebc !important;
  color: white;
}

#remove-action-button:hover {
  background-color: #495057 !important;
  color: white;
}

.react-responsive-modal-modal {
  min-width: 95vw !important;
  border-radius: 6px;
}




.quantity-picker {
  display: inline-block;
  border:1px solid #dfdfdf;
  border-radius: 3px;
  vertical-align:middle;
}
.quantity-input:focus {
  background: red;
}

.quantity-modifier,
.quantity-display {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

.quantity-modifier {
  height: 100%;
  width: 3rem;
  font-size: 1.5rem;
  background: #f3f3f3;
  color: #888;
  border: 0 solid #dbdbdb;
  text-align: center;
  cursor: pointer;
}
.quantity-modifier:hover {
  background: #dadada;
  color: #555555;
}

.quantity-modifier:focus {
  outline:0;
}

.left-modifier {
  border-radius: 3px 0 0 3px;
}

.mod-disable {
  color:#E0E0E0;
}

.mod-disable:hover {
  background-color: #f3f3f3 !important;
  color:#E0E0E0;
}

.right-modifier {
  border-radius: 0 3px 3px 0;
}

.quantity-display {
  width: 4rem;
  padding: .5rem;
  font-size: 1.5rem;
  border: 0;
  border-top: 0 solid #dbdbdb;
  border-bottom: 0 solid #dbdbdb;
  text-align: center;
}